
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.screen {
    display: none;
}

.screen.hidden {
    display: block;
}

button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

.wheel {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-color: #ff4500;
    border-radius: 50%;
    display: inline-block;
}

.card-container {
    display: inline-block;
    margin-top: 20px;
}

.card-front,
.card-back {
    background-color: #333;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

#modeButtons {
    margin-top: 20px;
}

.mode-button {
    background-color: #ff4500;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.mode-button:hover {
    background-color: #ff6a00;
}
